body {
    background-image: url("../images/fondo.jpg");
    background-color: #cccccc;

    font-family: 'Times New Roman', Times, serif;
    margin-top:10px;
    padding:10px;
}

#header{
    height: 80px;
    width: 310px;
    font-size: 40px;s
    margin-bottom: 10px;
    background:#BD6427;
    color:white;
    padding-left:10px;
    padding-top:20px;
    margin-bottom: 10px;
    
}

#instrucions{
    padding:20px 10px;
    height: 450px;
    width: 450px;
    margin-bottom: 20px;
    background:#F2DDBB;
    
    color:green;
    line-height:1.5;
}



#goala{
    width: 300px;
    height: 120px;
    background: white;
    font-size:30px;
    padding-top:10px;
    padding-left: 10px;
    background: #51C172;
    float: left;
}

#counts{
    width: 100px;
    height: 120px;
    background: white;
    font-size:15px;
    padding-top:10px;
    padding-left: 10px;
    margin-left:10px;
    background: #6df2e7;
    float: left;
    
}

#gemsa{
    clear:both;
    padding-top:10px;
}


#resultsOne{
    width: 200px;
    height: 30px ;
    margin-bottom: 10px; 
    margin-top:5px;   
    background: #319987;
    color:white;
    padding-top:5px;
    
}
#resultSum{
    width: 200px;
    height: 100px ;
    margin-bottom: 10px;    
    background: #319987;
    color:white;
    font-size:30px;
    padding-top:10px;
    padding-left: 10px;
}